﻿@using Microsoft.AspNetCore.Http;

<partial name="~/Views/Shared/_NotificationPartial.cshtml" />

<p>@Context.Session.GetString("UserId")</p>
<p>@Context.Session.GetString("UserToken")</p>
<p>@Context.Session.GetString("GroupId")</p>
<p>@Context.Session.GetString("Level")</p>
