﻿@model Jarvis.Backoffice.CMS.Models.ModelClass.UserProperty
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<partial name = "~/Views/Shared/_NotificationPartial.cshtml"/>

<h4>UserProperty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNo" class="control-label"></label>
                <input asp-for="MobileNo" class="form-control" />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                @Html.DropDownListFor(x => Model.RoleId, new SelectList(Model.Roles, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Role" })
                @Html.ValidationMessageFor(x => x.RoleId, "", new { @class = "text-danger" })
                @*<input asp-for="RoleId" class="form-control" />
        <span asp-validation-for="RoleId" class="text-danger"></span>*@
            </div>
            @if (string.IsNullOrEmpty(Context.Session.GetString("GroupId")))
            {
                <div class="form-group">
                    <label asp-for="GroupId" class="control-label"></label>
                    <input asp-for="GroupId" class="form-control" />
                    <span asp-validation-for="GroupId" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="User" asp-action="User">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
